<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kim.mapper.DataGridMapper">
    <!--查询列表-->
    <select id="selectByMap" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT DG.*
        FROM(
            SELECT *
            FROM ${view}
            <where>
                <if test="whereClause != null and whereClause != ''">
                    ${whereClause}
                </if>
            </where>
            <if test="orderByClause != null and orderByClause != ''">
                order by ${orderByClause}
            </if>
            <if test="limit != null">
                <if test="offset != null">
                    limit ${offset}, ${limit}
                </if>
                <if test="offset == null">
                    limit ${limit}
                </if>
            </if>
        )DG
    </select>
    <!--查询列表数量-->
    <select id="countByMap" parameterType="java.util.Map" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM ${view}
        <where>
            <if test="whereClause != null and whereClause != ''">
                ${whereClause}
            </if>
        </where>
    </select>
</mapper>