<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kim.mapper.DivisionMapper">


    <!--查询部门-->
    <select id="selectDivision" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT BD.*,PBD.BD_NAME AS BD_PARENT_NAME
        FROM(
            SELECT * FROM BUS_DIVISION
            <where>
                <if test="ID != NULL and ID != ''">
                    AND ID = #{ID}
                </if>
                <if test="BD_PARENT_ID != NULL and BD_PARENT_ID != ''">
                    AND BD_PARENT_ID = #{BD_PARENT_ID}
                </if>
                <if test="NOT_ID != NULL and NOT_ID != ''">
                    AND ID != #{NOT_ID}
                </if>
                <if test="NOT_PARENT_ID != NULL and NOT_PARENT_ID != ''">
                    AND BD_PARENT_ID != #{NOT_PARENT_ID}
                </if>
            </where>
        )BD
        LEFT JOIN BUS_DIVISION PBD ON PBD.ID = BD.BD_PARENT_ID
    </select>

    <!--插入部门-->
    <insert id="insertDivision" parameterType="java.util.Map">
        INSERT INTO BUS_DIVISION
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">ID,</if>
            <if test="BD_PARENT_ID != null">BD_PARENT_ID,</if>
            <if test="BD_NAME != null">BD_NAME,</if>
            <if test="BD_CONTACTS != null">BD_CONTACTS,</if>
            <if test="BD_PHONE != null">BD_PHONE,</if>
            <if test="BD_FIXED_PHONE != null">BD_FIXED_PHONE,</if>
            <if test="BD_EMAIL != null">BD_EMAIL,</if>
            <if test="BD_ADDRESS != null">BD_ADDRESS,</if>
            <if test="BD_DESCRIBE != null">BD_DESCRIBE,</if>
            <if test="BD_ORDER != null">BD_ORDER,</if>
            <if test="BD_ENTER_TIME != null">BD_ENTER_TIME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">#{ID},</if>
            <if test="BD_PARENT_ID != null">#{BD_PARENT_ID},</if>
            <if test="BD_NAME != null">#{BD_NAME},</if>
            <if test="BD_CONTACTS != null">#{BD_CONTACTS},</if>
            <if test="BD_PHONE != null">#{BD_PHONE},</if>
            <if test="BD_FIXED_PHONE != null">#{BD_FIXED_PHONE},</if>
            <if test="BD_EMAIL != null">#{BD_EMAIL},</if>
            <if test="BD_ADDRESS != null">#{BD_ADDRESS},</if>
            <if test="BD_DESCRIBE != null">#{BD_DESCRIBE},</if>
            <if test="BD_ORDER != null">#{BD_ORDER},</if>
            <if test="BD_ENTER_TIME != null">#{BD_ENTER_TIME},</if>
        </trim>
    </insert>

    <!--编辑部门-->
    <update id="updateDivision" parameterType="java.util.Map">
        UPDATE BUS_DIVISION
        <set>
            <if test="ID != null">ID=#{ID},</if>
            <if test="BD_PARENT_ID != null">BD_PARENT_ID=#{BD_PARENT_ID},</if>
            <if test="BD_NAME != null">BD_NAME=#{BD_NAME},</if>
            <if test="BD_CONTACTS != null">BD_CONTACTS=#{BD_CONTACTS},</if>
            <if test="BD_PHONE != null">BD_PHONE=#{BD_PHONE},</if>
            <if test="BD_FIXED_PHONE != null">BD_FIXED_PHONE=#{BD_FIXED_PHONE},</if>
            <if test="BD_EMAIL != null">BD_EMAIL=#{BD_EMAIL},</if>
            <if test="BD_ADDRESS != null">BD_ADDRESS=#{BD_ADDRESS},</if>
            <if test="BD_DESCRIBE != null">BD_DESCRIBE=#{BD_DESCRIBE},</if>
            <if test="BD_ORDER != null">BD_ORDER=#{BD_ORDER},</if>
            <if test="BD_ENTER_TIME != null">BD_ENTER_TIME=#{BD_ENTER_TIME},</if>
        </set>
        <where>
            <if test="ID !=null">ID=#{ID}</if>
        </where>
    </update>

    <!--删除部门-->
    <delete id="deleteDivision" parameterType="java.util.Map">
        DELETE FROM BUS_DIVISION WHERE ID = #{ID}
    </delete>
</mapper>